* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

html,
body {
	height: 100%;
	overflow-y: scroll;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 700px;
	min-height: 100vh;
	margin: 0 auto;
	background: #eee;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: center;
	padding: 16px 0;
	min-width: 100%;
	background: #ddd;
}

h1 {
	align-self: center;
	font-size: 20px;
	font-weight: bold;
}

.form {
	padding: 16px;
	.input {
		padding: 4px;
		outline: 1px solid #ddd;
	}
	.input:focus {
		box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 1);
		outline: 1px solid #6e6e6e;
	}
}
.button {
	box-shadow: 0 0 2px 2px #ddd;
	padding: 4px;
	transition: transform 0.1s ease;
}
.button:hover {
	transform: translateY(1px) translateX(1px);
}

.main {
	flex: 1;
	padding: 20px;
	max-width: 100%;
}

.todo-list {
}

.task-element {
	display: flex;
	justify-content: space-between;
	min-width: 400px;
	max-width: 100vh;

	border-bottom: 1px solid #cccccc;
	padding: 8px;
	.text {
		padding:  0 8px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.block-button {
		display: flex;
		gap: 8px;
		.edit-button {
			color: rgb(68, 68, 241);
			padding: 2px;
			border-radius: 2px;
			box-shadow: 0 0 2px 2px #ddd;
		}
		.delete-button {
			color: rgb(219, 84, 84);
			padding: 2px;
			border-radius: 2px;
			box-shadow: 0 0 2px 2px #ddd;
		}
	}
}
.filter {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	padding: 8px;
	background: #fff;
	outline: 1px solid #ddd;

	.filter-block-button {
		display: flex;
		gap: 8px;
	}
}
footer {
	display: flex;
	justify-content: space-between;
	min-width: 100%;
	padding: 16px;
	background: #ddd;
}

.footer-content {
	align-self: center;
	p {
		border-bottom: 1px solid #333;
	}
}

.clear-button {
	padding: 4px;
	border-radius: 2px;
	box-shadow: 0 0 2px 2px #d1d1d1;
	color: rgb(68, 68, 241);
}

.clear-button:hover {
	color: rgb(219, 84, 84);
}
